doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title O aplikacji
  body
    nav
      .inner-topnav
        a.button(href='/')
          img(src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/3-sidesitting.jpg" alt="LOGO" style="width: 120px; height: 88px;")
        .topnav-buttons
          a.button(href='/zarejestruj') Zarejestruj się
          a.button(href='/zaloguj') Zaloguj się
          a.button(href='/about') O aplikacji
          a.button(href='/kontakt') Kontakt
    main
      .upper-text
        img(src='/images/theatre.jpg', alt='MOBILE')
        #up.content-text
          h2 Bądź na bieżąco!
          | 				Dołącz do społeczności bywalców najciekawszych wydarzeń w Krakowie:
          br
          |  kino, teatr, imprezy, koncerty, spotkania, targi.
          br
          |  Chonotu. to Twój własny codzienny kalendarz kulturalny zawsze pod ręką.
      .lower-text
        #down.content-text
          h2 Trzymaj bilety w jednym miejscu!
          | 				Kupowanie biletów i organizowanie sobie planów nigdy
          br
          |  nie było tak proste i przejrzyste. Zakupione w kilku klikach bilety
          br
          |  masz w jednym miejscu i na pewno nie przegapisz żadnego z wyczekiwanych wydarzeń.
        img(src='/images/cinema.jpg', alt='MOBILE')
    footer
      p &copy 2018 ChonotuTeam. All rights reserved

