doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet', href='/stylesheets/style.css')
    title Moje konto
  body
    script.
      function redirectToDelete() {
      var login = location.search.split('login=')[1];
      var url= '/delete?userToDelete=' + login;
      window.location.replace(url);
      }
      function redirectToTickets() {
      var login = location.search.split('login=')[1];
      var url= '/mytickets?login=' + login;
      window.locationreplace(url);
      }
    nav
      .inner-topnav
        a.button(href='/')
          img(src='', alt='LOGO')
        .topnav-buttons
          a.button(href='/zarejestruj') Zarejestruj się
          a.button(href='/zaloguj') Zaloguj się
          a.button(href='/about') O aplikacji
          a.button(href='/kontakt') Kontakt
    main
      .user-info
        h3 Cześć, !{JSON.stringify(login)}
        ul
          li Data urodzenia: !{JSON.stringify(date_of_birth)}
          li Mail: !{JSON.stringify(email)}
      .content-buttons
        button.button(onclick='redirectToDelete()') Usuń konto
        button.button(onclick='redirectToTickets()') Moje bilety
      
      
    footer
      p FOOTER

