doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale-1")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Strona główna
  body
    nav
      .inner-topnav
        a.button(href="/")
          img(src="" alt="LOGO")
        .topnav-buttons
          a.button(href="/zarejestruj") Zarejestruj się
          a.button(href="/zaloguj") Zaloguj się
          a.button(href="/about") O aplikacji
          a.button(href="/kontakt") Kontakt
    main
      .row
        .column1
          img(src="" alt="event")
        .column2
          h2 Cena: 
            br
            br
            h1 #{values} zł
            a.button.buybtn(href="/buyticket?eventName="+post) Kup Bilet            
      .row
        h2
          br
          | Wydarzenie
        |       Jakiś opis
    footer
      p FOOTER
