doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale-1")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Strona główna
  body
    nav
      .inner-topnav
        a.button(href="/")
          img(src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/3-sidesitting.jpg" alt="LOGO" style="width: 120px; height: 88px;")
        .topnav-buttons
          a.button(href="/zarejestruj") Zarejestruj się
          a.button(href="/zaloguj") Zaloguj się
          a.button(href="/about") O aplikacji
          a.button(href="/kontakt") Kontakt
    main
      .row
        .column1
          img(src="/images/event.jpg" style="width:400px;" alt="event")
        .column2
          h2 Cena: 
            br
            br
            h1 #{values} zł
            if login == undefined
              a.button.buybtn(href="/buyticket?eventName="+post) Kup Bilet  
            else
              a.button.buybtn(href="/buyticket?eventName="+post + '&login=' + login) Kup Bilet           
      .row
        h2
          br
          | #{post}
        |       
    footer
      p &copy 2018 ChonotuTeam. All rights reserved
