doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale-1")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Strona główna
  body
    nav
      if login == undefined
        .inner-topnav
          a.button(href="/")
            img(src="" alt="LOGO")
          .topnav-buttons
            a.button(href="/zarejestruj") Zarejestruj się
            a.button(href="/zaloguj") Zaloguj się
            a.button(href="/about") O aplikacji
            a.button(href="/kontakt") Kontakt
      else
        .inner-topnav
          a.button(href="/?login=" + login)
            img(src="" alt="LOGO")
          .topnav-buttons
            a.button(href="/about?login=" + login) O aplikacji
            a.button(href="/kontakt?login=" + login) Kontakt
            a.button(href="/") Wyloguj
    main
      .row
        .column1
          img(src="" alt="event")
        .column2
          h2 Cena: 
            br
            br
            h1 #{values} zł
            if login == undefined
              a.button.buybtn(href="/buyticket?eventName="+post) Kup Bilet  
            else
              a.button.buybtn(href="/buyticket?eventName="+post + '&login=' + login) Kup Bilet           
      .row
        h2
          br
          | #{post}
        |       Jakiś opis
    footer
      p FOOTER
