doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale-1")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Lista uzytkownikow
  body
    header
      nav
        .inner-topnav
          a.button(href="/")
            img(src="" alt="LOGO")
          .topnav-buttons
            a.buttonlistofusers(href="/zarejestruj") Dodaj wydarzenie
            a.buttonlistofusers(href="/listofusers") Zarządzaj użytkownikami
            a.buttonlistofusers(href="/zaloguj") Wyloguj się
    main
      #search
        form#searchfield(action="anotherpage.html")
          input(type="text" required="required")
          input(type="submit" value="Search")
        h3#usersheader Użytkownicy
        br
      ol#listofusers
        li
          label(for="userbutton") User 1
          button#userbutton Usuń
        li
          label(for="userbutton") User 2
          button#userbutton Usuń
        li
          label(for="userbutton") User 3
          button#userbutton Usuń
        li
          label(for="userbutton") User 4
          button#userbutton Usuń
        li
          label(for="userbutton") User 5
          button#userbutton Usuń
    footer
      p FOOTER
