doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale-1")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Lista uzytkownikow
  body
    header
      nav
        .inner-topnav
          a.button(href="/")
            img(src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/3-sidesitting.jpg" alt="LOGO" style="width: 120px; height: 88px;")
          .topnav-buttons
            a.buttonlistofusers(href="/zarejestruj") Dodaj wydarzenie
            a.buttonlistofusers(href="/listofusers") Zarządzaj użytkownikami
            a.buttonlistofusers(href="/zaloguj") Wyloguj się
    main
      #search
        form#searchfield(action="listofusers")
          input(type="text" name='userToSearch' required="required")
          input(type="submit" value="Search")
        h3#usersheader Użytkownicy
        br
      ol#listofusers
        each val in values
          li= val.login
          a.button#userbutton(href='/delete?login=Admin&userToDelete=' + val.login) Usuń
    footer
      p &copy 2018 ChonotuTeam. All rights reserved
