doctype html
html(lang="pl")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale-1")
    link(rel="stylesheet" href="/stylesheets/style.css")
    title Lista uzytkownikow
  body
    header
      nav
        if login == undefined
          .inner-topnav
            a.button(href="/")
              img(src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/3-sidesitting.jpg" alt="LOGO" style="width: 120px; height: 88px;")
            .topnav-buttons
              a.button(href="/zarejestruj") Zarejestruj się
              a.button(href="/zaloguj") Zaloguj się
              a.button(href="/about") O aplikacji
              a.button(href="/kontakt") Kontakt
        else
          .inner-topnav
            a.button(href="/?login=" + login)
              img(src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/3-sidesitting.jpg" alt="LOGO" style="width: 120px; height: 88px;")
            .topnav-buttons
              a.button(href="/about?login=" + login) O aplikacji
              a.button(href="/kontakt?login=" + login) Kontakt
              a.button(href="/") Wyloguj
    main
      #search
        form#searchfield(action="listofusers")
          input(type="text" name='userToSearch' required="required")
          input(type="submit" value="Search")
        h3#usersheader Użytkownicy
        br
      ol#listofusers
        each val in values
          li= val.login
          a.button#userbutton(href='/delete?login=Admin&userToDelete=' + val.login) Usuń
    footer
      p &copy 2018 ChonotuTeam. All rights reserved
