doctype html
html(lang='pl')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale-1')
    link(rel='stylesheet' href='/stylesheets/style.css')
    title Strona główna
  body
    nav
      .inner-topnav
        a.button(href="/")
          img(src="http://cdn3-www.dogtime.com/assets/uploads/gallery/pug-dog-breed-pictures/3-sidesitting.jpg" alt="LOGO" style="width: 120px; height: 88px;")
        .topnav-buttons
          a.button(href='/zarejestruj') Zarejestruj się
          a.button(href='/zaloguj') Zaloguj się
          a.button(href='/about') O aplikacji
          a.button(href='/kontakt') Kontakt
    main
      .middle-text
        .content-text(style="width: 100%;")
          if message==undefined
            h1 Witaj ponownie!
          else
            h1 Wszystko poszło dobrze :)
        form#fields(action='/checkIfUsernameExists')
          input#login.txt(type='text', name='login', required='', placeholder='Login/Mail')
          br
          input.txt(type='password', name='password', required='', placeholder='Hasło')
          br
          input(type='submit', value='Zaloguj')
    footer
      p &copy 2018 ChonotuTeam. All rights reserved
